header {
    height: 150px auto;
    margin-bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: block;
}

body {
    background-color: rgba(144, 238, 144, 0.508);
}

h1 { 
    font-size: 3em;
    text-align: center;
}

h2 {
    text-align:center;
}

picture {
    display: flex;
    justify-content: center;
}

p {
    text-indent: 2.5em;
    text-align: justify;
    padding-bottom: 2em;
}

#nav ul{
    margin: 0px;
}

#nav li{
    display: inline-block;
}

#nav a:hover{
    transition: background-color 1s;
    background-color:gold;
}

a {
    display: block;
    text-decoration: none; 
    color:black;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-width: 1px;
    border-radius: 5px;
}

#artigo {
    max-width: 1000px;
    margin: auto;
    padding: 0 25px 25px 25px;
    font-size: 1.3em;
    line-height: 1.5em;
}

#artigo p{
    padding: 20px;
    background-image: url('imagens/galo.jpg');
    background-position: center right;
    color: rgb(241, 236, 236);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.58);
    background-size: cover;
    background-attachment: fixed;
}

#artigo2 {
    max-width: 1000px;
    margin: auto;
    padding: 0 25px 25px 25px;
    font-size: 1.3em;
    line-height: 1.5em;
}

#artigo2 p{
    padding: 20px;
    color: rgb(0, 0, 0);
}

#video {
    position: relative;
    background-color: rgba(45, 83, 255, 0.664);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}

#video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    text-align: center;
}

footer ul {
    padding: 0;
    text-decoration: none;
}

footer li {
    margin:10px;
}

footer a:hover {
    font-size: 1.3em;
    color:darkblue;
}

#navegacao-entre-paginas {
    display: flex;
    justify-content: center;
}

#navegacao-entre-paginas p {
    text-indent: 0;
}

#navegacao-entre-paginas a {
    display: inline-block;
    align-items: center;
    padding: 5px;
    margin: 0;
}